@import "~styles/variables";

.main-container {
  display: flex;
  flex: 1;
}

.sidebar {
  flex: 1;
  max-width: 200px;
}

.main-content {
  flex: 3;
  display: flex;
  margin: $small_border_margin;
}
