@import "styles/variables";

:host {
  display: flex;
  flex-direction: column;
}

.sidenav {
  background-color: $base-blue;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sidenav > * + * {
  margin-top: $small_border_margin;
}

.logo-container {
  display: flex;
  flex-direction: column;
}

.logo {
  margin: $small_border_margin;
  object-fit: scale-down;
  max-width: 100%;
}

.button-holder {
  display: flex;
  flex-direction: row;
  flex: 0;
}

button {
  flex: 1;
  margin: 0 $small_border_margin;
}
