<div class="sidenav">
  <div class="logo-container">
    <img alt="logo" class="logo" src="assets/placeholder_logo.png">
  </div>
  <div class="button-holder">
    <button (click)="onProblemClick()" color="primary" mat-flat-button>Problems</button>
  </div>
  <div class="button-holder">
    <button (click)="onProblemSubmitClick()" color="primary" mat-flat-button>Submit a problem</button>
  </div>
</div>
