@import "~styles/variables";

:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
}

.problem-card {
  margin: $small_border_margin;

  // plain height and width do not work...
  min-width: 200px;
  min-height: 200px;
  max-width: 200px;
  max-height: 200px;

  transition-property: filter;
  transition-duration: 0.3s;
}

.problem-card:hover {
  filter: brightness(90%);
  cursor: pointer;
}
