<app-game-solution-card [clickMode]="clickMode" [dimension]="dimension"></app-game-solution-card>
<div class="controls-holder">
  <mat-form-field>
    <mat-label>Game dimension</mat-label>
    <label for="dimension">
      <input [formControl]="dimensionFormControl" id="dimension" matInput placeholder="4" type="number">
    </label>
    <mat-error *ngIf="dimensionFormControl.hasError('required')">
      Game dimension is required
    </mat-error>
    <mat-error *ngIf="dimensionFormControl.hasError('min') || dimensionFormControl.hasError('max')">
      Game dimension should be be between 3 and 8
    </mat-error>
  </mat-form-field>
  <button (click)="onSubmitClick()" color="primary" mat-flat-button>Submit</button>
  <button (click)="onResetClick()" color="primary" mat-flat-button>Reset</button>

</div>
