$dark_salmon: darken(#FFA07A, 10%);

:host {
  flex: 1;
  display: flex;
}

mat-card {
  flex: 1;
}

mat-grid-tile {
  background-color: lightblue;
}

.light {
  background-color: #ffa07a;
}

.light.mark {
  background: radial-gradient(circle at center, $dark_salmon 0, $dark_salmon 50%, lightsalmon 50%);
}

.mark {
  background: radial-gradient(circle at center, $dark_salmon 0, $dark_salmon 50%, lightblue 50%);
}
