<mat-card>
  <mat-grid-list [cols]="dimension">
    <mat-grid-tile (click)="onTileClick(tile)" *ngFor="let tile of flatTiles"
                   [class.light]="!tile.isNotPressed" [class.mark]="tile.isInSolution"></mat-grid-tile>
  </mat-grid-list>
</mat-card>
