<app-game-solution-card (problemSolvedObservable)="onProblemSolved()" [clickMode]="clickMode"
                        [notPressedTiles]="problem?.initialState" [solution]="solution">
</app-game-solution-card>
<div class="side-box">
  <button (click)="onShowSolutionClick()" *ngIf="!solved" color="primary" mat-flat-button>Get solution</button>
  <button (click)="onResetClick()" *ngIf="!solved" color="primary" mat-flat-button>Reset</button>
  <div *ngIf="solved">
    <h1>Congratulations!</h1>
    <p>You have successfully solved the problem</p>
  </div>
</div>
