@import "~styles/variables";

:host {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.side-box {
  display: flex;
  margin-left: $small_border_margin;
  flex-direction: column;
}

button + button {
  margin-top: $small_border_margin;
}

app-game-solution-card {

  // should be changed for mobile
  max-width: 600px;
  max-height: 600px;
  min-width: 600px;
  min-height: 600px;
}
